@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Srisakdi:wght@700&display=swap');


#title {
    
    font-family: 'Special Elite', cursive;
    text-align: center;
}

#description{
    text-align: center;
    font-size: 80%;
}

.main {
 
    margin-left: 35%;
    background-color: rgba(224, 224, 224, 0.884) ;
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 33vw;
    font-family: 'Special Elite', cursive;
    

}

.background{
    background: url(./piza3.jpg);
    background-size: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

.textarea {
    background-color: rgba(255, 255, 255, 0.753);
    border-block-end: white;
    justify-self: left;
}

#survey-form{
    margin: 30px;
}


#cajita {
    opacity: 0.7;
    filter: alpha(opacity=30); 
    border-color: transparent;
  }

#submit{
    margin-left: 60%;
}

#texto{
    margin-left: 75%;
}




/* * { 
    background: url(./pizza2.jpg);
    background-size: 80vw;



#main {
    background: url(./pizza2.jpg);
    background-size: 80vw;


/*
//#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.054),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}



#main {
    background: url(./dada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

p{
    font-size: 22px;
    font-family: 'Arial Narrow Bold', sans-serif;    
    line-height: 1.6;
    background-color: rgba(223, 223, 223, 0.644);
    background-blend-mode: overlay;
    text-align: start;
    width: 80vw;
    margin-left: 10%;
    

}   

figure{
   text-align: center;
   font-size: 14px;
   margin-left: 40px;
}

h2{
    text-align: center;
    color: rgb(57, 108, 175);

}

#headings{
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}//